params {
  outdir      = 'outputs/run'
  methods     = 'ct'     // can be 'ct,prscs,ldpred2'
  sumstats    = null
  geno_prefix = null
  vcf         = null
  pheno       = null
  ldref       = 'resources/ldref'
}

process {
  executor = 'local'
  errorStrategy = 'retry'
  maxRetries = 2

  withName: 'CT_CLUMP'    { cpus = 4; memory = '8 GB' }
  withName: 'CT_SCORE'    { cpus = 4; memory = '8 GB' }
  withName: 'PRSCS_RUN'   { cpus = 8; memory = '16 GB' }
  withName: 'LDPRED2_RUN' { cpus = 8; memory = '16 GB' }
}


profiles {
docker { includeConfig 'conf/docker.config' }
conda { includeConfig 'conf/conda.config' }
}

